.table1 {
    max-width: fit-content;
}

.container {
    font-family: 'Open Sans', sans-serif;
}

.image-title {
    height: 60px;
}

.bg-blue{
    background-color: #BBDEFB !important;
    padding: 0.5px !important;
    max-width: 250px !important;
}

.form-control{
    
    width: auto !important;
    font-family: 'Open Sans', sans-serif;
}

label{
    font-weight: bold;
}

textarea{
    border-color: rgb(141, 202, 139) !important;
    overflow-y:scroll;
}

input{
    max-height: 30px;
}

#plus{
    border-color: rgb(108,155,194) !important;
    background-color: #6c9bc2 !important;
    font-size: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.redd{
    width: 100px;
    height: 100px;
    background: red;
}

.red2{
    width: 100px;
    height: 100px;
    background: blue;
}

.btn-outline-primary{
    min-width: 60px;
}

select{
    width: auto !important;
}

label{
    margin-bottom: 0px !important;
}

table{
    
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

.mplsTable{
    border-radius: .1em !important;
}

td, tr, th {
    text-align: center;
    vertical-align: middle;
    padding: .3em;
    background: rgb(206, 232, 250);
    border-bottom: 2px solid white; 
    border-left: 2px solid white; 
    font-size: .8rem;
  }

  .tc-img{
      display: none;
      color: rgb(80, 137, 177);
      font-size: .7rem;
  }

  .form-control:hover + .tc-img,
  .form-control:focus + .tc-img {
    display: block;
  }

  .select-control select:focus + .tc-img ,
  .select-control select:hover + .tc-img
  {
    display: block;
  }

  .th-mpls {
   min-width: 150px;
    
  }

  .td-plus{
      background: rgb(80, 137, 177);
  }

  .button_plus { 
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
    background: #fff;
    cursor: pointer;
    border: 2px solid rgb(61, 138, 209);
  }

  .label-light{
    font-weight: lighter;
    font-style: italic;
  }

  .size-small{
      font-size: smaller;
  }

  .size-bold{
    font-weight: bold !important;
}